<div class="right-div-login-box text-center">
    <form>
      <div class="heading-box">
        <h4>Login to <br> Your Account</h4>
      </div>
      <div class="email-box input-box">
          <i class="fas fa-envelope"></i>
          <input type="email" name="email" id="email" placeholder="Email Address" />
      </div>
      <div class="password-box input-box">
        <i class="fas fa-lock"></i>
        <input type="password" name="password" id="password" placeholder="Password" />
      </div>
      <div class="login-btn">
        <button>LOGIN</button>
      </div>
      <div>
        <hr class="divider-line">
      </div>
      <div class="create-new-account-box">
        <a href="" id="create-new-account-btn">Create New Account</a>
      </div>
    </form>
  </div>