<div class="px-3 py-2 text-bg-primary border-bottom">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
      >
      </a>

      <ul
        class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
      >
        <li>
          <a href="#" class="nav-link text-white">
            <i class="fas fa-home"></i>
            Home
          </a>
        </li>
        <!-- <li>
          <a href="#" class="nav-link text-white">
            <i class="fas fa-dashboard"></i>
            Dashboard
          </a>
        </li> -->
        <li>
          <a href="#" class="nav-link text-white">
            <i class="fas fa-piggy-bank"></i>
            Add Bank </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white"> Products </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link text-white dropdown-toggle"
            
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          <i class="fas fa-user"></i>
            Profile
          </a>
          <ul class="dropdown-menu dropdown-menu-light mt-1 pb-0">
            <li><a class="dropdown-item" href="#">View </a></li>
            <li><a class="dropdown-item" href="#">Edit </a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
            <li><a class="dropdown-item pb-2 bg-danger text-white border-bottom rounded-bottom border-danger" href="#">Logout</a></li>
          </ul>
        </li>
        <!-- <li>
              <a href="#" class="nav-link text-white">
                <i class="fas fa-user"></i>
                Profile
              </a>
            </li> -->
      </ul>
    </div>
  </div>
</div>
